* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #77185f;
  touch-action: none;
}

canvas {
  margin: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 3px solid #1ad079;
}

button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #0bc9c9;
  border: none;
  border-radius: 5px;
}
#show {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.signature-img {
  width: 100px;
  height: 100px;
}
.error {
  color: #f66646;
  margin: 10px 0;
}

.zoneve {
  display: flex;
}
.phien_am_sau_bam {
  font-size: 90px;
}
.ky_tu {
  font-size: 130px;  
  color: #aed111;    
  background-image: url('1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
  @media (max-width: 1000px) {
.zoneve {
  display: block;
}
  }

  

