* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #77185f;
  touch-action: none;
}

canvas {
  margin: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 3px solid #1ad079;
}

button {
  margin: 10px 5px 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #0bc9c9;
  border: none;
  border-radius: 5px;
}
#show {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.signature-img {
  width: 100px;
  height: 100px;
}
.error {
  color: #f66646;
  margin: 10px 0;
}

.benphai {
  background-color: #ffffff;
  min-width: 500px;
  min-height: 500px;
  margin-top: 30px
}

.zoneve {
  /* hiện ngang -  giao diện lap */
  display: flex; 
}
.phien_am_sau_bam {
  font-size: 40px;
  display: flex;
  justify-content: center; /* Căn giữa ngang */
  align-items: center;     /* Căn giữa dọc */
}
.ky_tu {
  font-size: 130px;  
  width: 180px;
  height: 180px;
    display: flex;
  justify-content: center; /* Căn giữa ngang */
  color: #aed111;    
  background-image: url('1.png');
  background-position: center;
  background-repeat: no-repeat;
}


@media (max-width: 1000px) {
  .zoneve {
    display: block;
  }
}

  

